<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image class="logo" src="App_Resources/raktar.png"></Image>
        <Label class="header" text="Raktár"></Label>
        <Button (tap)="processing=false"></Button>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">
                <StackLayout row="0" class="input-field">
                    <TextField class="input" hint="Email" [isEnabled]="!processing"
                        keyboardType="email" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.email"
                        returnKeyType="next" (returnPress)="focusLogin()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <TextField class="input" hint="Felhasználónév" [isEnabled]="!processing"
                        keyboardType="input" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.login"
                        returnKeyType="next" (returnPress)="focusPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="2" class="input-field">
                    <TextField #password class="input" [isEnabled]="!processing"
                        hint="Jelszó" secure="true" [(ngModel)]="user.password"
                        [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                        (returnPress)="focusConfirmPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="3" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #confirmPassword class="input" [isEnabled]="!processing"
                        hint="Jelszó megerősítése" secure="true" [(ngModel)]="user.confirmPassword"
                        returnKeyType="done"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>

        <Button [text]="isLoggingIn ? 'Belépés' : 'Regisztráció'" [isEnabled]="!processing"
            (tap)="submit()" class="btn btn-primary m-t-20"></Button>
        <Label *ngIf="isLoggingIn" text="Elfelejtette jelszavát?" class="login-label"
            (tap)="forgotPassword()"></Label>
    </StackLayout>

    <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
            <Span [text]="isLoggingIn ? 'Nincs még felhasználója? ' : 'Vissza a bejelentkezéshez '"></Span>
            <Span [text]="isLoggingIn ? 'Regisztráció' : ''" class="bold"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>
