<StackLayout class="page">
    <Label text="Új termék" class="h1 text-center text-white"></Label>
    <GridLayout rows="auto, auto, auto, auto, auto, auto, auto, auto" columns="auto, *" margin="5"
                marginTop="10">
        <Label text="Név:" row="0" col="0" class="h3" marginTop="20"></Label>
        <TextView row="0" col="1" class="text-input" marginTop="10"
                  required [(ngModel)]="product.name" #nameModel="ngModel"></TextView>

        <Label text="Bevételezési ár (Ft):" row="1" col="0" class="h3" marginTop="20"></Label>
        <TextView row="1" col="1" class="text-input" marginTop="10"
                  [(ngModel)]="product.costPrice"></TextView>

        <Label text="Eladási ár (Ft):" row="2" col="0" class="h3" marginTop="20"></Label>
        <TextView row="2" col="1" class="text-input" marginTop="10"
                  [(ngModel)]="product.price"></TextView>

        <Label text="Mennyiség:" row="3" col="0" class="h3" marginTop="20"></Label>
        <TextView row="3" col="1" class="text-input" marginTop="10"
                  [(ngModel)]="product.quantity"></TextView>

        <Label text="Mértékegység:" row="4" col="0" class="h3" marginTop="20"></Label>
        <TextView row="4" col="1" class="text-input" marginTop="10"
                  [(ngModel)]="product.unitOfMeasurement"></TextView>

        <Label text="Gyártó:" row="5" col="0" class="h3" marginTop="20"></Label>
        <TextView row="5" col="1" class="text-input" marginTop="10"
                  [(ngModel)]="product.manufacturer"></TextView>

        <Label text="Vonalkód:" row="6" col="0" class="h3" marginTop="20"></Label>
        <TextView row="6" col="1" class="text-input" marginTop="10"
                  required [(ngModel)]="product.barcode" #barcodeModel="ngModel"></TextView>
        <!--isEnabled="false"-->
        <Button text="Vonalkód beolvasása" (tap)="onScan()" class="btn" margin="5" row="7"
                col="1"></Button>
    </GridLayout>
    <GridLayout rows="auto" columns="*, *">
        <Button text="Mentés" (tap)="save()" class="btn btn-primary btn-active" margin="5" row="8"
                col="0" >
        </Button>
        <Button text="Mégsem" (tap)="onClose()" class="btn btn-danger" margin="5" row="8"
                col="1"></Button>
    </GridLayout>
</StackLayout>



<!--<StackLayout class="page">
    <Label text="Új termék" class="h1 text-center text-white"></Label>
    <RadDataForm [source]="termek">
        <TKEntityProperty tkDataFormProperty name="name" displayName="Terméknév"
                          index="0"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="costPrice" displayName="Bevételezési ár"
                          index="1"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="price" displayName="Eladási ár"
                          index="2"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="quantity" displayName="Mennyiség"
                          index="3"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="unitOfMeasurement" displayName="Mértékegység (kiszerelés)"
                          index="4"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="manufacturer" displayName="Gyártó"
                          index="5"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="barcode" displayName="Vonalkód"
                          index="6"></TKEntityProperty>
    </RadDataForm>
    <GridLayout rows="auto, auto" columns="*, *">
        <Button text="Vonalkód beolvasása" (tap)="onScan()" class="btn" margin="5" row="0"></Button>
        <Button text="Mentés" (tap)="save()" class="btn btn-primary btn-active" margin="5" row="1"
                col="0">
        </Button>
        <Button text="Mégsem" (tap)="onClose()" class="btn btn-danger" margin="5" row="1"
                col="1"></Button>
    </GridLayout>
</StackLayout>-->
