<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Termékek"></Label>
</ActionBar>

<StackLayout class="page">
    <Button text="Új termék" *ngIf="isAdminOrStoreKeeper()" (tap)="onNewProduct()" class="btn btn-primary btn-active"></Button>
    <GridLayout backgroundColor="white">
        <ListView [items]="products" class="list-group">
            <ng-template let-product="item">
                <StackLayout class="list-group-item" (tap)="onDetailTap(product)">
                    <Label *ngIf="product.id" text="{{ product.id }} azonosítójú termék" class="label font-weight-bold"></Label>
                    <Label *ngIf="product.barcode" text="vonalkód: {{product.barcode}}" class="footnote"></Label>
                    <Label *ngIf="product.name" text="név: {{product.name}}" class="footnote"></Label>
                    <Label *ngIf="product.statusName" text="státusza: {{product.statusName}}" class="footnote"></Label>
                    <Label *ngIf="product.costPrice" text="bevételezési ár: {{product.costPrice}} Ft" class="footnote"></Label>
                    <Label *ngIf="product.price" text="eladási ár: {{product.price}} Ft" class="footnote"></Label>
                    <Label *ngIf="product.quantity" text="mennyiség: {{product.quantity}} {{product.unitOfMeasurement}}" class="footnote"></Label>
                    <Label *ngIf="product.manufacturer" text="gyártó: {{product.manufacturer}}" class="footnote"></Label>
                    <Label *ngIf="product.productCategoryName" text="termék kategória: {{product.productCategoryName}}" class="footnote"></Label>
                    <Label *ngIf="product.priceCategoryName" text="ár kategória: {{product.priceCategoryName}}" class="footnote"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>
